{% extends 'admin/main-dashboard.html' %}{% load static %} {% block content %}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Post Manage</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <div class="d-md-flex">
          <ol class="breadcrumb ms-auto pb-8">
            <li><a href="#" class="fw-normal">Post Manage</a></li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <div class="container-fluid px-0">
            <div class="row">
              <div class="col-sm-6"><h3 class="box-title">Post Manage</h3></div>
              <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                  <a
                    href="{% url 'addPost' %}"
                    class="btn btn-primary rounded-pill px-3 d-inline-block w-auto"
                    style="width: 120px"
                  >
                    Add new
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead>
                <tr>
                  <th class="border-top-0">STT</th>
                  <th class="border-top-0">Thời gian</th>
                  {% comment %}
                  <th class="border-top-0">Last Name</th>
                  <th class="border-top-0">Username</th>
                  {% endcomment %}
                  <th class="border-top-0">Chủ đề</th>
                  {% comment %}
                  <th class="border-top-0"></th>
                  {% endcomment %}
                </tr>
              </thead>
              <tbody>
                {% for post in posts %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{post.date_create}}</td>
                  <td>Prohaska</td>
                  <td class="d-flex justify-content-end">
                    <button
                      class="btn btn-primary rounded-pill px-3 d-inline-block w-auto"
                      style="width: 120px; margin-right: 10px"
                    >
                      Delete
                    </button>

                    <button
                      class="btn btn-primary rounded-pill px-3 d-inline-block w-auto"
                      style="width: 120px"
                    >
                      Update
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer text-center">2021 ©</footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
{% endblock %}
